.container{
  overflow: contain;
  width: 80% !important;
}

.card{
  display: block !important;
  flex: none;
  float: left;
  margin: 20px;
  width: 25% !important; 
  min-width: 200px !important;
}

.btn{
  margin:3px !important;
}